{% load richtext static %}
{% load i18n %}
<article class="card border rounded-md h-full focus-within:ring-2 focus-within:ring-primary/30">
    <div class="card-body">
        <div class="flex items-center gap-2 opacity-70">
            {% if item.kind == "guide" %}
                <span class="badge badge-guide">{% trans "Guide" %}</span>
            {% elif item.kind == "prompt" %}
                <span class="badge badge-prompt">{% trans "Prompt" %}</span>
            {% elif item.kind == "usecase" %}
                <span class="badge badge-usecase">{% trans "Usecase" %}</span>
            {% elif item.kind == "tool" %}
                <span class="badge badge-tool">{% trans "Tool" %}</span>
            {% elif item.kind == "comparison" %}
                <span class="badge badge-compare">{% trans "Comparison" %}</span>
            {% elif item.kind == "link" %}
                <span class="badge badge-info">{% trans "Link" %}</span>
            {% endif %}
        </div>
        <h3 class="card-title leading-snug">
            <a href="{{ item.get_url }}" class="link link-hover"
               aria-label="{% trans "Read details about " %}{{ item.get_title }}">{{ item.get_title }}</a>
        </h3>
        {% if item.get_teaser %}
            <div class="prose opacity-80 h-full">{{ item.get_teaser|richtext|safe|truncatewords:35 }}</div>
        {% endif %}
        <div class="card-actions mt-4 justify-end">
            <a href="{{ item.get_url }}" class="btn btn-primary btn-wide" role="button" aria-pressed="false"
               aria-label="{% trans "Read details about " %}{{ item.get_title }}">{% trans "Read" %}</a>
        </div>
    </div>
</article>
