{% load richtext static %}
{% load i18n %}
<article class="card border rounded-md h-full focus-within:ring-2 focus-within:ring-primary/30">
    <div class="card-body">
        <div class="flex items-center gap-2 text-sm opacity-80 mb-1">
            {% if item.badge == "Guide" %}
                <span class="badge badge-guide">{% trans "Guide" %}</span>
            {% elif item.badge == "Prompt" %}
                <span class="badge badge-prompt">{% trans "Prompt" %}</span>
            {% elif item.badge == "Usecase" %}
                <span class="badge badge-usecase">{% trans "Usecase" %}</span>
            {% elif item.badge == "Comparison" %}
                <span class="badge badge-compare">{% trans "Comparison" %}</span>
            {% endif %}

            {% if item.date %}
                <time datetime="{{ item.date|date:'c' }}"
                      class="inline-flex items-center gap-1 whitespace-nowrap ml-2"
                      aria-label="{% trans 'Published or Updated on' %} {{ item.date|date:'d.m.Y' }}">
                    {% heroicon_outline "calendar-days" size=16 %}
                    {{ item.date|date:"d.m.Y" }}
                </time>
            {% endif %}
        </div>
        <h3 class="card-title text-base leading-snug">
            <a href="{{ item.url }}" class="link link-hover"
               aria-label="{% trans "Read details about " %}{{ item.title }}">{{ item.title }}</a>
        </h3>
        {% if item.teaser %}
            <div class="prose opacity-80 mt-1 line-clamp-4 h-full">{{ item.teaser|richtext|safe|truncatewords_html:35 }} ...</div>
        {% endif %}
        <div class="card-actions mt-4 justify-end">
            <a href="{{ item.url }}" class="btn btn-primary btn-block" role="button" aria-pressed="false"
               aria-label="{% trans "Read details about " %}{{ item.title }}">{% trans "Read" %}</a>
        </div>
    </div>
</article>
