{% load auth_extras %}
{% load i18n static %}
<div class="card border rounded-md shadow-lg items-center max-w-2xl mx-auto">
    <div class="card-body">
        <h2 class="card-title">{% blocktrans %}Participate as an author{% endblocktrans %} ✍️</h2>
        <p>
            {% blocktrans %}Want to publish guides, use cases, or prompts?{% endblocktrans %}<br>
                {% blocktrans %}Author accounts are in private beta. If you’re interested, please contact us on GitHub.{% endblocktrans %}

        </p>
        <div class="card-actions justify-center mt-4">
            {% if request.user.is_authenticated %}
                {% if request.user|has_group:"author" or request.user|has_group:"editor" or request.user|has_group:"admin" %}
                    <a href="{% url 'content:editorial:my_drafts' %}" class="btn btn-primary btn-wide">{% blocktrans %}
                        My drafts{% endblocktrans %}</a>
                {% else %}
                    <p>You already have a user account, but an administrator still needs to activate you as an author.
                        Please be patient.</p>
                {% endif %}
            {% else %}
                <a href="https://github.com/maikksmt/mentoro-ai/discussions/" target="_blank" rel="noopener" class="btn btn-primary">{% blocktrans %}Go to Github Discussions{% endblocktrans %}</a>
                <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans 'Login' %}</a>

{#                <p class="opacity-80 mt-2">#}
{#                    {% blocktrans %}#}
{#                        Note: You need a user account. After Signup in, an administrator needs to activate you as an#}
{#                        author.#}
{#                    {% endblocktrans %}#}
{#                </p>#}
            {% endif %}
        </div>
    </div>
</div>
